@import 'components/location-info'
@import 'components/location-month-weather-graph'

.location-container
    display: flex
    flex-direction: column
    width: 100%
    padding: 1.5rem
    background-color: $navy
    min-height: 100vh
    // height: 100%
    color: $white

    // &.left
    //     align-items: flex-start

    //     & .location
    //         width: auto

.location
    display: flex
    flex-direction: column
    width: 100%
    gap: 2.5rem
    // align-items: center
    padding: 1rem 0
    // align-items: center

.button-handler-counts
    display: flex
    background-color: transparent
    border: none
    margin: 0 auto
    padding: 0.75rem 1rem
    border-radius: 5px
    color: $white
    box-shadow: inset 1px 1px 2.5px 0 $white, inset -1px -1px 2.5px 0 $black 
